body {
    background-color: grey;
}
.main {
    background-color:white;
    border-style: solid;
    border-width:5px
}

#title {
    padding-bottom:4px;
    margin:2px;
}
#subtitle {
    padding-top:2px;
    padding-left:3px;
    margin:2px;
}
#gamesheader {
    margin:2px;
}
#gamesubheader {
    margin: 2px;
    font-weight:lighter;
}